---
import Header from "../components/Header.astro";
import InputSection from "../components/InputSection.astro";
import SidebarSummary from "../components/SidebarSummary.astro";
import TreeView from "../components/TreeView.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="LLMS.txt Editor">
  <Header />
  <InputSection />

  <div class="flex flex-col sm:flex-row flex-grow overflow-hidden">
    <SidebarSummary />
    <TreeView />
  </div>

  <script src="/editor.js" is:inline></script>
</Layout>
